
<!-- <div > -->
  <div class="background">
    <div class="container">
  
      <h2 class="heading">Welcome!</h2>
      <div class="line"></div>
      <form [formGroup]="loginForm" (ngSubmit)="onsubmit(loginForm.value)">
        <div class="group">
          <input type="email" required class="empty" name="username" formControlName="username"
           autocomplete="off">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Username</label>
          <div class="alert" *ngIf="loginForm.controls['username'].touched && !loginForm.controls['username'].valid">Username Is Required</div>
        </div>
  
        <div class="group">
          <input type="password" required class="empty" name="password" formControlName="password" autocomplete="off" minlength="5" maxlength="10">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
          <div class="alert" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Password Required</div>
          <div class="alert" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty && !loginForm.controls['password'].minlength">Password Should Be minimum 8 characters</div>		
        </div>
        
        <button type="submit" *ngIf="loginForm.controls['username'].valid && loginForm.controls['password'].valid" class="btn btn-success">Login</button>
        <button type="submit" *ngIf="!loginForm.controls['username'].valid || !loginForm.controls['password'].valid" class="btn btn-success" disabled>Login</button>
        
        <!-- <button type="button" id="link-btn" class="btn btn-link">Forgot Password?</button> -->
      </form>
    </div>
  </div>
  <!-- </div> -->
  